<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />
</head>
<body>
    <h2 style="text-align: center">list</h2>
    <div class="container">
        <div th:if="${ not redirectMessage.isEmpty()}" th:text="${redirectMessage}+'hello one time'" style="color: red;"></div>
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th th:title="当前迭代索引从0开始">stat.index</th>
                <th th:title="当前迭代索引从1开始">stat.count</th>
                <th th:title="迭代变量中的元素总数">stat.size</th>
                <th th:title="iter变量">stat.current</th>
                <th th:title="fdgf">stat.even</th>
                <th th:title="sdfd">stat.odd</th>
                <th th:title="sdfds">stat.first</th>
                <th th:title="sdfds">stat.last</th>
                <th th:title="sdfds">修改</th>
            </tr>

            <tr th:each="user,stat:${users}">
                <td th:text="${user.id}">#</td>
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.age}">Age</td>
                <td th:text="${user.email}">Email</td>
<!--                <td th:text="${#dates.format(user.createdAt,'yyyy-MM-dd')}">CreatedAt</td>-->
                <td th:text="${user.createdAt}">CreatedAt</td>
                <td th:text="${user.updatedAt}">CreatedAt</td>
                <td th:text="${stat.index}"></td>
                <td th:text="${stat.count}"></td>
                <td th:text="${stat.size}"></td>
                <td th:text="${stat.current}"></td>
                <td th:text="${stat.even}"></td>
                <td th:text="${stat.odd}"></td>
                <td th:text="${stat.first}"></td>
                <td th:text="${stat.last}"></td>
                <td>
                    <a class="btn btn-default" th:href="@{/home/user/update/{id}(id=${user.id})}">修改</a>
                    <a class="btn btn-default" th:href="@{/home/user/delete/{id}(id=${user.id})}">删除</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>